.results { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.separator {
    height: 1px;
    background-color: gray;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}